@inject IJSRuntime JS
@rendermode InteractiveServer


<div class="for-menu @(Visibility ? "for-menu-visible" : "")"></div>
<div class="ps-3">
    <div class="search-container">
        <button class="menu-button" @onclick="OnMenuClick" id="menu-button">
            <img class="menu-icon" src="/icons/menu.svg" />
            <img class="close-icon" src="/icons/close.svg" id="closeIcon" />
        </button>
        <input placeholder="search" class="search-input" />
    </div>
</div>


<div id="scrollable" class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item" @onclick="OnChatClick">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="text-base font-semibold" aria-hidden="true">Home</span>
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    [Parameter]
    public EventCallback OnChatClick { get; set; }
    [Parameter]
    public EventCallback OnMenuClick { get; set; }
    [Parameter]
    public bool Visibility { get; set; }
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/nicescroll.js");

            await module.InvokeVoidAsync("initializeNiceScroll");
        }
    }
}