@inject IJSRuntime JS
@rendermode InteractiveServer

<div class="ps-3">
    <div class="search-container">
        <button class="menu-button"><img class="menu-icon" src="/icons/menu.svg"/></button>
        <input placeholder="search" class="search-input" />
    </div>
</div>

<div id="scrollable-div" class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item" @onclick="OnChatClick">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
    </nav>
</div>

@code
{
    [Parameter] 
    public EventCallback OnChatClick { get; set; }

    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/js/nicescroll.js");

            await module.InvokeVoidAsync("initializeNiceScroll");
        }
    }
}